@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?f6cpew');
  src:  url('fonts/icon.eot?f6cpew#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?f6cpew') format('truetype'),
    url('fonts/icon.woff?f6cpew') format('woff'),
    url('fonts/icon.svg?f6cpew#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agreement:before {
  content: "\e900";
}
.icon-attach:before {
  content: "\e901";
}
.icon-attach-file:before {
  content: "\e902";
}
.icon-commissioning-works:before {
  content: "\e903";
}
.icon-compass-(1):before {
  content: "\e904";
}
.icon-compass-1:before {
  content: "\e905";
}
.icon-complex-approach:before {
  content: "\e906";
}
.icon-contract:before {
  content: "\e907";
}
.icon-crane:before {
  content: "\e908";
}
.icon-cross-out:before {
  content: "\e909";
}
.icon-down:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90b";
}
.icon-engineer:before {
  content: "\e90c";
}
.icon-engineering:before {
  content: "\e90d";
}
.icon-engineering-services:before {
  content: "\e90e";
}
.icon-envelope:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-facebooke:before {
  content: "\e911";
}
.icon-file:before {
  content: "\e912";
}
.icon-folder:before {
  content: "\e913";
}
.icon-industrial-plant:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-left:before {
  content: "\e916";
}
.icon-light-bulb:before {
  content: "\e917";
}
.icon-linkedin:before {
  content: "\e918";
}
.icon-linkedin-logo:before {
  content: "\e919";
}
.icon-magnifying-glass:before {
  content: "\e91a";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-monotype:before {
  content: "\e91c";
}
.icon-own-production:before {
  content: "\e91d";
}
.icon-placeholder4:before {
  content: "\e91e";
}
.icon-placeholder-filled-point:before {
  content: "\e91f";
}
.icon-play-button:before {
  content: "\e920";
}
.icon-repairs:before {
  content: "\e921";
}
.icon-right:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e923";
}
.icon-search-engine-optimization:before {
  content: "\e924";
}
.icon-serious-experience:before {
  content: "\e925";
}
.icon-service:before {
  content: "\e926";
}
.icon-skype:before {
  content: "\e927";
}
.icon-telephone:before {
  content: "\e928";
}
.icon-up:before {
  content: "\e929";
}
.icon-user:before {
  content: "\e92a";
}
.icon-warning:before {
  content: "\e92b";
}
.icon-youtube:before {
  content: "\e92c";
}
